<div class="fondo">
  <div class="container ">
    <div class="row ">
      <div class="col order-first mt-3 mb-5">
        <mat-card class="card">
            <h1>Asignacion de Docentes</h1>
            <button mat-flat-button color="primary" routerLink="/addasigDocente">Agregar</button>
          <table class=" text-center" mat-table class="full-width-table" matSort aria-label="Elements">
            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td class=" text-center" mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="id_docente">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id de Docente</th>
              <td class=" text-center" mat-cell *matCellDef="let row">{{row.id_docente}}</td>
            </ng-container>

            <ng-container matColumnDef="id_curso">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id del Curso</th>
              <td class=" text-center" mat-cell *matCellDef="let row">{{row.id_curso}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td class=" text-center" mat-cell *matCellDef="let row">{{row.status}}</td>
            </ng-container>

            <ng-container matColumnDef="fecha_inicio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Inicio</th>
              <td class=" text-center" mat-cell *matCellDef="let row">{{row.fecha_inicio}}</td>
            </ng-container>

            <ng-container matColumnDef="fecha_fin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Fin</th>
              <td class=" text-center" mat-cell *matCellDef="let row">{{row.fecha_fin}}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar  Eliminar</th>
              <td class=" text-center" mat-cell *matCellDef="let row" style="text-align: right">
                <a class="puntero" routerLink="/addasigDocente/{{row.id}}" style="color:dodgerblue"
                  matTooltip="Editar Asignacion de Docente">
                  <mat-icon>edit</mat-icon>
                </a>
                <a class="puntero" (click)="eliminarAsigDocente(row.id)" style="color :darkred"
                  matTooltip="Eliminar Asignacion de Docente">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
          </mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
</div>
